h1 {
    color: lightgoldenrodyellow;
    text-align: center;
    margin: 0 auto;
    font-family: Eurotypo Sans, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #c5051f;
}

.display {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    margin: 20px auto;
    width: 25%;
    background-color: #7e0a0a;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#work,
#break {
    color: lightgoldenrodyellow;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    width: 30%;
    text-align: center;
    font-family: Eurotypo Sans, sans-serif;
}

.activestyle {
    color: gold !important;
}

#work {
    text-align: left;
}

#break {
    text-align: right;
}

#start,
#settings {
    border: none;
    background: none;
    font-size: 2em;
    padding: 20px;
    width: 100px;
    height: 100px;
    color: lightgoldenrodyellow;
}

#settings {
    font-size: 1.5em;
}

#layout {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 400px;
    align-content: space-between;
    flex: 1;
}

.time {
    text-align: center;
    margin: 0 auto;
}

#chronometer {
    border-radius: 100%;
    font-size: 5em;
    padding: 50px;
    background-color: white;
    aspect-ratio: 1/1;
    width: 125px;
    height: 125px;
    text-align: center;
    line-height: 125px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Eurotypo Sans, sans-serif;
}

footer {
    text-align: center;
    margin: 0 auto;
    color: lightgoldenrodyellow;

}

#timeForm {
    background-color: lightgoldenrodyellow;
    font-family: Eurotypo Sans, sans-serif;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: #7e0a0a;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.modalContent p {
    color: lightgoldenrodyellow;
    font-family: Eurotypo Sans, sans-serif;
    font-size: 1.2em;
}

.modalContent label {
    color: #7e0a0a;
    display: block;
    margin: 10px 0 5px;
    font-size: 1.1em;
}


.modalContent input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #000;
    font-size: 1em;
}

.modalContent input[type="button"] {
    background-color: #7e0a0a;
    color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    padding: 10px;       
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.modalContent input[type="button"]:hover {
    background-color: darkorange;
}

.close {
    color: lightgoldenrodyellow;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: gold;
}