h1 {
    color: red;
    text-align: center;
    margin: 0 auto;
}


.display{
    display: flex;
    font-size: 2em;
    text-align: center;
    background-color: red; 
    margin: 5%;
    width: 500px
}

#work{
    text-align: left;
}

#break{
    text-align: right;
}




.activestyle{
    color: gold;
    font-size: 2em;
    text-align: center;
    background-color: red;  
}

main{
    /*
display: flexbox;
flex-wrap: wrap;
*/
text-align: center;
height: 400px;
align-content: space-between;
}

.cycles{

}

#chronometer{
    border-radius: 100%;
    font-size: 5em;
    padding: 50px;
}


#cycles{
    display: flexbox;
    text-align: center;
    margin: 0 auto;
}