h1 {
    color: lightgoldenrodyellow;
    text-align: center;
    margin: 0 auto;
}


body{
    background-color: #c5051f;
}

.display{
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    width: 25%;
}

#work{
    text-align: left;
}

#break{
    text-align: right;
}

#start, #settings{
    border: none;
    background: none;
    font-size: 2em; /* Increase icon size */
    padding: 20px; /* Add some padding */
    width: 100px; /* Set width for the button */
    height: 100px; /* Set height for the button */
}


#layout {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /*display: flex;*/
    display: none;
    justify-content:center ;
    align-items: center;
}

form {
    background: pink;
    width: 40%;
    height: 40vh;
}




.activestyle{
    color: gold; 
}

main{
    /*
display: flexbox;
flex-wrap: wrap;
*/
text-align: center;
height: 400px;
align-content: space-between;
}

.cycles{

}

.time{
    text-align: center;
    margin: 0 auto;
}

#chronometer{
    border-radius: 100%;
    font-size: 5em;
    padding: 50px;
    background-color: white;
    aspect-ratio: 1/1;
    width:125px;
    height:125px;
    text-align: center;
    line-height: 125px; /* Center text vertically (make it the same as the height) */
    margin: 0 auto; /* Center the circle horizontally */
    overflow: hidden; /* Prevent text from overflowing out of the circle */
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure vertical centering */
}


#cycles{

    text-align: center;
    margin: 0 auto;
}


footer{
    text-align: center;
    margin: 0 auto;
}